/*
 Theme Name:   InDavao.Net
 Theme URI:    https://indavao.net/
 Description:  Twenty Fifteen Child Theme for Indavao.Net
 Author:       Chester Alan
 Author URI:   https://www.chesteralan.com
 Template:     twentyfifteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/

.site-title {
	background: url(images/logo_256.png) no-repeat ;
	background-size: 247px;
	height: 285px;
}
.site-title a {
  padding-top: 256px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 110%;
}
.site-description {
	text-align:center;
}
.entry-content .social-media {
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
}
.entry-content .social-media li {
	display:inline-block;
	margin: 0 5px;
}
.site-main.new {
	padding-top:0;
}
.hentry.map {
	padding-top:0;
}
.hentry.map > iframe {
	margin-bottom:0;
}
.establishment.hentry {
	padding-top: 0;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.site-title {
			background-size: 169px;
		  height: 205px;
		}
		.site-title a {
		  padding-top: 179px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.site-title {
			background-size: 223px;
		  height: 260px;
		}
		.site-title a {
		  padding-top: 233px;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.site-title {
			background-size: 247px;
		  height: 285px;
		}
		.site-title a {
		  padding-top: 256px;
		}
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		.site-title {
			background-size: 247px;
		  height: 285px;
		}
		.site-title a {
		  padding-top: 256px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		.site-title {
			background-size: 223px;
		  height: 260px;
		}
		.site-title a {
		  padding-top: 233px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.site-title {
			background-size: 169px;
		  height: 205px;
		}
		.site-title a {
		  padding-top: 179px;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
